# Rendering Pandas output using nbconvert

In a notebook, the Pandas styler does a nice job of rendering output from Pandas Dataframe.  The problem is that when you try to convert the notebook to nbconvert using "nbconvert", the dataframe doesn't not display, and instead you get a cryptic message that looks some like : 

    <pandas.io.formats.style.Styler at 0x120860e90>
    
instead of a nicely displayed spreadsheet.  

Does anybody know how to fix this? 

The `nbconvert` command : 

    $ jupyter nbconvert --to PDF pandas_rendering.ipynb
    
All tips are welcome.

In [1]:
import pandas as pd

d = {'Procs' : [1,2,4,8], \
     'N' : [512, 1024, 2046, 4096], \
     'error' : [0.25,0.125, 0.0625, 0.03125]}
df = pd.DataFrame(d)
fstr = {'N' : '{:10d}'.format, 'Procs' : '{:10d}'.format, 'error' : '{:.4e}'.format}
df.style.format(fstr)

As possible workaround (thanks, Kirk) is to simply print the data frame using `print`.  

The only downside is that I don't see any way to format the data, using the format dictionary, `fstr`, above.

In [2]:
print(df)

   Procs     N    error
0      1   512  0.25000
1      2  1024  0.12500
2      4  2046  0.06250
3      8  4096  0.03125